#
*.pem
*.xml
*~
.venv/
.ec2/
.claude/
.vscode/
output/
librechat/
__pycache__/
.DS_Store
/llm.jsonl
*.merged
/conversations/*.json
/conversations/*.jsonl
/bin/__pycache__/
.nano.pid
.gitignore
.wo.pid
WikiOracle.code-workspace
